/* Default Light Theme */
body {
	font-family: Helvetica, sans-serif;
	background-color: #eef4d4;
	color: #1c2826;
	margin: 0;
	padding: 20px;
}

header {
	text-align: left;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 70%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #1c2826;
	color: #eef4d4;
}
