/* Default Light Theme */
body {
	font-family: Helvetica, sans-serif;
	background-color: #EEF4D4;
	color: #1C2826;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 70%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}
